@charset "UTF-8";
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('Image/log1.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}
.container:hover {
    transform: translateY(-5px);
}
.container h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    letter-spacing: 1px;
}
.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 25px;
    margin: 10px 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #0056b3;
}
.btn.admin {
    background-color: #ff0000; /* Red for admin */
}
.btn.user {
    background-color: #28a745; /* Green for user */
}
.btn:hover.admin {
    background-color: #c82333; /* Darker red for admin hover */
}
.btn:hover.user {
    background-color: #218838; /* Darker green for user hover */
}
